.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    gap: clamp(0.25vw, 1.5rem, 2.5vw);

    padding: clamp(0.75vw, 1.5rem, 2.5vw) clamp(1vw, 4rem, 5vw) clamp(0.75vw, 1.5rem, 2.5vw) clamp(1vw, 4rem, 5vw);

    color: white;
    background-color: var(--dark);
}

.teacher{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;

    gap: clamp(0.25vw, 1rem, 2vw);
    font-size: clamp(14px, 1.75rem, 1.75vw);
    font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.accent{
    color: var(--tone-3);
}