.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    color: white;
    background-color: var(--dark);

    position: sticky;
    top: 0;

    z-index: 2;
}

.teacher{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: clamp(14px, 1.75rem, 1.75vw);
    font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.accent{
    color: var(--tone-3);
}